#product-page
  margin: 0
  float: left
  width: 100%
  section#product
    margin: 0 0 20px 0
  .container
    position: relative
  h1
    margin: 0 0 15px 5px
    font-size: 1.2em
  .thumbs
    margin: 0   

    a
      color: #000
      float: left
      vertical-align: middle
      &.prev
        margin: 55px 5px 0 5px
      &.next
        margin: 55px 0 0 10px
    .jcarousel
      position: relative
      vertical-align: middle
      overflow: hidden
      width: 100%
      float: left
      ul
        width: 100%
        position: relative
        list-style: none
        margin: 0
        padding: 0
        li
          display: block
          width: 100%
          clear: both
          float: none
          margin: 1.4em 0 0 0
          &:first-child
            margin: 0
          a
            margin: 0
            display: block
            float: none
            text-align: center
            border: 1px solid #eeeeee !important
          img
            width: auto
            height: 173px
            display: inline-block
            padding: 0
            margin: 0 auto
            

  .product-price
    text-align: right
    padding: 0 0 0 0
    margin: 0 0 0 0
    background: none
    z-index: 1    
    p
      color: #5c5c5c
      line-height: 18px
      font-weight: bold
      margin: 0
      padding: 0
      display: inline-block
      vertical-align: middle
      span
        color: #f04b29
        font-size: 25px
        margin-left: 5px
  .tva-inclus
    color: $maincolor
    line-height: 1
    font-size: 0.8em
    text-align: right
    margin: 10px 0 0 0
  .grey-box
    background: #eee
    margin-bottom: 20px
  .product-order
    min-height: 0
    font-size: 0.8em
    input
      display: inline-block
      margin-left: 6px
      height: 27px
      padding: 0 5px
      vertical-align: middle
      width: 28px
      line-height: 1
      border: 1px solid #ddd
      &[type="submit"]
        width: 100px
        display: block
        height: 37px
        border: none
        line-height: 39px
    iframe
      margin: 0 0 0 0
      padding: 5px 0 0 5px
      width: 100%
      height: 63px
      overflow-y: hidden
      display: none
      border: none
    .product-badge
      display: inline
      img
        display: inline-block
        margin-left: 5px
      margin-bottom: 20px
      line-height: 37px
      span
        font-weight: bold
        color: #000
        display: inline-block
    .measure
      margin: 8px 0 10px 0
      padding: 0
      display: inline-block
      vertical-align: middle
      li
        list-style-type: none
        display: inline
        a
          display: inline-block
          float: left
          min-width: 30px
          padding: 3px 6px
          color: #000
          font-weight: 400
          text-align: center
          margin: 0 5px 0 0
          background: #fff
          vertical-align: middle
          &.selected, &:hover
            background: #444444
            color: #fff
    .code-price 
      float: left
      width: 100%
      padding: 0 0 10px 0
      margin: 0 0 10px 0
      border-bottom: 1px solid #fff
    
    .product-addtocart
      label
        text-transform: uppercase
        display: inline-block
        font-weight: normal
        line-height: 1.8
        width: 25%
        color: #555
    .place-order
      padding: 0
      width: 100%
      i
        vertical-align: middle
        margin-right: 10px
        font-size: 1.5em
      p
        font-size: 13px
        color: #000
        display: inline-block
        line-height: 45px
        float: left
        width: 25%
      input
        float: left
        &[type="number"]
          padding: 10px 4px 9px 8px
          height: auto
          width: 65px
          margin: 5px 0 0 4px
          border: none
          width: 50px
        &[type="submit"]
          width: auto
          margin-right: -10px
          padding: 4px 15px
          line-height: 25px
          margin: 5px 0 10px 10px
          vertical-align: middle
          background: #f15c24
          background-image: -moz-linear-gradient(top, #f15c24, #ee3030)
          background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f15c24), to(#ee3030))
          background-image: -webkit-linear-gradient(top, #f15c24, #ee3030)
          background-image: -o-linear-gradient(top, #f15c24, #ee3030)
          background-image: linear-gradient(to bottom, #f15c24, #ee3030)
          border: 1px solid #e13521 !important
          text-transform: uppercase
          font-weight: bold
          display: block
          outline: none
          color: #ffffff
          border-radius: 0 !important
          text-shadow: 0 0 0 #fff
          box-shadow: 0 0 0 #fff
          &:hover
            background: #f15c24
            background-image: -moz-linear-gradient(top, #ee3030, #f15c24)
            background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee3030), to(#f15c24))
            background-image: -webkit-linear-gradient(top, #ee3030, #f15c24)
            background-image: -o-linear-gradient(top, #ee3030, #f15c24)
            background-image: linear-gradient(to bottom, #ee3030, #f15c24)
  // Image Panel
  .image-panel
    overflow: hidden
    border: 1px solid #eeeeee 
    height: 570px
    padding: 0
    position: relative
    img
      max-width: 100%
      width: 100%
      margin: 0 auto
      height: auto
    .indisponible-icon
      position: absolute
      left: 40px
      top: 40px
      width: 60px
      height: 60px
      line-height: 1.3
      font-size: 0.9em
      display: block
      border-radius: 50%
      z-index: 1
      letter-spacing: initial
      background: #bdbebf
      color: #fff
      text-align: center
      padding-top: 15px
      text-transform: uppercase
      font-weight: 300
    .product-image-zoomed
      max-height: 607px
      display: block
      overflow: hidden
      padding: 0
      width: 100%
  .product-code
    margin: 10px 0
    padding: 0 0 5px 0
    color: #444
    line-height: 1
    clear: both
    float: left
    width: auto
    font-weight: 600
    border-top: none
    border-bottom: none
    span
      display: inline-block
      margin-right: 5px
      font-weight: 400
  .product-details
    margin: 10px 0
    padding: 0
    color: #555
    ne-height: 1.8
    ul li span
      width: 30%
      font-weight: bold
      display: inline-block
  .sale
    position: absolute
    top: 5px
    right: 20px
    width: 45px
    height: 45px
    background-image: url(../img/sale.png)
    display: block
    z-index: 99
  .btn-place-order
    margin: 0.4em 0 0 0
    padding: 8px 0
    width: 55%
    float: right
    background: $color-secondary
    border: 1px solid $color-secondary
    box-sizing: border-box
    font-size: 1.2em
    &:hover 
      border: 1px solid #00C909
      background: #00C909
      color: #fff

  .product-addtocart
    background: #f4f4f4
    padding: 1em
    margin: 0.5em 0 0 0

.zoomContainer, .zoomWindow  
  max-height: 568px !important
  // max-width: 480px !important


.center-measure-popup 
  width: 700px
  height: 600px
.measure-img
  margin: 0 auto
  max-width: 100%

// rating
.rating 
  margin: 0 0 0.5em 0
  img
    display: inline-block
    max-width: 15px
    height: auto
.btn-review 
  background: $color-primary
  border: 1px solid $color-primary
  color: #fff
  padding: 0.2em 0.5em 
  font-size: 0.9em
  i 
    margin: 0 5px 0 0 
    color: #fff
  &:hover
    background: none
    a
      color: $color-accent-secondary
    i 
      color: $color-primary 

.comments 
  float: left
  width: 100%
  padding: 0 20px 0 0
  overflow: auto
  height: 280px
.comment 
  margin: 0 0 10px 0
  clear: both
  line-height: 1.6
  padding: 0 0 10px 0 
  border-bottom: 1px dotted #ddd
  img 
    display: inline-block
    margin: 0 0 5px 0 
    width: 15px 
    height: auto
.fa-comment 
  margin: 0 0 0 1em
  color: $color-primary 
.review
  margin: 20px 0
  clear: both
  float: left
  width: 100%
  font-size: 0.8em

  h2
    font-size: 1.2em
  h4 
    margin: 0 0 15px 0
  h5 
    margin: 10px 0 15px 0
  textarea 
    width: 100% 
    height: 205px
    margin: 10px 0 0 0 
    padding: 0.5em 1em
    border: 1px solid #ddd
  .btn-review 
    background: #000
    padding: 5px 10px
    color: #fff
    border: none
    font-size: 0.9em
    margin: 1em 0 0 0
    text-transform: uppercase
    &:hover
      background: #ddd
      color: #000

// end rating
.sizesTabel
  width: 100%
  font-size: 0.9em
  margin: 10px 0 15px 0
  border-top: 1px solid #d9d9d9
  border-left: 1px solid #d9d9d9
  tr th
    background-image: url(../img/tab-bg.jpg)
    background-position: top left
    background-repeat: repeat-x
  tr th, tr td
    padding: 3px 5px
    text-align: center
    border-bottom: 1px solid #d9d9d9
    border-right: 1px solid #d9d9d9
  tr td.firstCol
    text-align: left

#product-page .product-list
  font-size: initial
#product-page .product-list .product-price 
  text-align: left
  margin: 0
  span.price
    position: relative
    z-index: 11
    text-align: left
    font-size: 18px
    line-height: 1
    color: #ef2424
    font-style: normal
    font-weight: 700
    background: #fff
    margin: 3px 0 0 0
    padding: 0 0.5em 0.3em 0.6em
  span.btn-calltoaction 
    display: inline-block
    margin: 0 0.5em 0 0    
    color: #fff
    font-size: 0.8em
    padding: 0.5em 1em

#owl-alsoBought, #owl-mostPopular  
  &.owl-theme .owl-nav 
    display: block
    top: -60px
    right: 15px
    margin-top: 0
    position: absolute
  &.owl-theme .owl-nav [class*='owl-']
    width: 30px
    height: 30px
  &.owl-carousel    
    margin: 0
  &.owl-carousel .owl-nav .owl-prev, &.owl-carousel .owl-nav .owl-next 
    background: #fff 
    border: 1px solid #e5e5e5 
    font-size: initial 
    line-height: 1.3
  &.owl-carousel .owl-nav .owl-prev:hover, &.owl-carousel .owl-nav .owl-next:hover
    background: #222226
    -webkit-transition: all 0.2s ease-in 
    -o-transition: all 0.2s ease-in 
    transition: all 0.2s ease-in

  &.owl-carousel .owl-nav .owl-prev:before 
    content: "\f104" 
    font-family: FontAwesome
    font-size: 1em 
    color: #595959 
    padding: 5px 0 0 0
  &.owl-carousel .owl-nav .owl-next:before
    margin-left: 5px
    content: "\f105" 
    font-family: FontAwesome
    font-size: 1em 
    color: #595959 
    padding: 5px 0 0 0 
    line-height: 1
  &.owl-carousel .owl-nav .owl-prev:hover:before, &.owl-carousel .owl-nav .owl-next:hover:before
    color: #fff