.product
  opacity: 0
  font-size: initial

.product-item
  position: relative
  margin-bottom: 1em
  min-height: 450px
  border: 1px solid #fff
  display: block

  &:hover
    border: 1px solid #d9d9d9
  .sale
    position: absolute
    padding: 0.7em 0
    background: $color-secondary
    color: #fff
    top: -397px
    right: 15px
    width: 60px
    height: 60px
    display: block
    z-index: 9
    font-size: 1em
    text-align: center 
    border-radius: 50%
    span
      display: block
      font-size: 0.5em
      color: #fff
      line-height: 1.5
      text-transform: uppercase

  span.btn-calltoaction
    margin: -0.5em 0.5em 0.5em 0
    cursor: default
    color: #fff
    font-size: 0.8em
    
  .btn-calltoaction
    font-size: 0.8em
  a
    margin: 0
    span.btn-calltoaction
      cursor: pointer

.product-list .product
  &:hover
    .secondImage
      display: block

.product-title
  max-width: 100%
  padding: 0.5em 1em
  background: #fff
  z-index: 10  
  display: block
  font-size: 0.8em 
  position: relative
  h2
    text-align: left
    padding: 0
    line-height: 1.4
    font-size: 1em 
  a
    font-weight: 400
    color: #000

    &:hover
      text-decoration: none
      color: #f8040e

.product-price  
  position: relative
  z-index: 11
  text-align: left
  font-size: 1em  
  line-height: 1
  color: #ef2424
  font-style: normal
  font-weight: 700
  background: #fff
  padding: 0 1em 0.5em 1em
  a 
    color: $color-secondary
  a span
    color: #fff

.product-extra
  padding: 0 1em
  color: #999
  min-height: 36px
  text-align: left
  max-width: 100%
  background: #fff
  z-index: 10
  font-size: 0.8em
  display: block
  position: relative

  .product-view-link
    display: block
    text-align: center
    background-color: $color-accent-secondary
    text-transform: capitalize
    &:hover
      background-color: $green 

.product-image
  height: 345px
  overflow: hidden
  position: relative
  display: block 

  img
    position: relative
    z-index: 1
    -webkit-transition: all .4s ease
    -moz-transition: all .4s ease
    -o-transition: all .4s ease
    transition: all .4s ease
  .secondImage
    position: absolute
    top: 0px
    left: 0px
    opacity: 0
  a 
    position: relative
    display: block
  a:hover
    img:first-child
      opacity: 0
    img:last-child
      opacity: 1   

.rating_list
  list-style: none
  margin: -0.3em 0 0 0
  img 
    width: auto
    height: 17px
    cursor: pointer
    line-height: 13px
    padding-top: 2px
    float: left
    margin: 5px 2px 0 0  

.owl-carousel .owl-item .rating_list 
  margin-right: 0.5em        
.owl-carousel .owl-item .rating_list img 
  width: auto


.product-buttons
  position: absolute
  bottom: 35px
  left: 0
  width: 100% 
  z-index: 9
  background: #fff 
  padding: 0.5em 0.9em 
  display: block

  .view, .add 
    padding: 0.3em 1em
    color: $color-primary
    border: 1px solid #e5e5e5
    background: #fff
    float: left
    width: 45%
    text-align: left
    font-size: 0.8em
    i
      font-size: 1em
      display: inline-block
      vertical-align: middle  
      margin: 2px 1em 0 0    
    span
      text-align: center 
      display: inline-block
      vertical-align: top 
      max-width: 60%
      font-size: 0.8em
      line-height: 1.1
    &:hover
      border: 1px solid $color-primary

  .add   
    float: right    
     
.indisponible-icon
  position: absolute
  right: 0px
  top: -409px
  width: 55px
  height: 55px
  display: block
  border-radius: 50%
  z-index: 99
  background: #bdbebf
  color: #fff
  text-align: center
  padding-top: 13px
  font-weight: 300

.product-list .product:hover 
  .product-buttons 
    bottom: 98px
    -webkit-transition: all .4s ease
    -moz-transition: all .4s ease
    -o-transition: all .4s ease
    transition: all .4s ease 
  .button
    display: none

.gray-border 
  border-top: 1px solid #f0f0f2
  padding: 1em 0 0 0